/.idea
/node_modules
/public/hot
/public/storage
/public/img/*.jpeg
/storage/*.key
/vendor
/v8-compile-cache-0
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/*.docx
/*.sql
*.log
/*.pdf
/winners
/*.htaccess
/nbproject
